@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #393939;
    --color-secondary: #707178;
    --color-tertiary: #38b2ac;
    --color-quarter: #eb4244;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*header*/

header {
    background-color: #f7f5f5;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 10%;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

header nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    padding: 5px 2px;
    margin: 0px 10px;
    text-decoration: none;
    position: relative;
    color: #393939;
}

nav ul li a.active::before {
    width: 100%;
}

nav ul li a::before {
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 0;
    height: 1px;
    background: var(--color-quarter);
    transition: width .2s linear;
}

nav ul li a:hover::before {
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button a {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    padding: 10.5px 35px;
    border-radius: 5px;
    background-color: var(--color-tertiary);
    color: #FFF;
    border: none;
    cursor: pointer;
}

.button a:hover {
    background-color: var(--color-quarter);
    transition: background-color 0.3s ease-in-out;
}

/*Varias veces*/

.sub-title {
    font-family: 'Poppins', sans-serif;
    font-size: 58px;
    font-weight: 900;
    color: var(--color-primary);
    margin-bottom: 30px;
}

/*banner*/

#banner {
    display: flex;
    flex-direction: row;
    padding: 50px 10%;
    background-color: #f7f5f5;
}

.container-text {
    width: 50%;
    display: flex;
    padding: 0px 5%;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.banner-title {
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.1;
    color: #171717;
    margin-bottom: 20px;
}

.banner-para {
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-secondary);
    margin-bottom: 20px;
}



.container-imagen {
    width: 50%;
}

.container-imagen img {
    width: 100%;
}

/*info*/

#info {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 100px 10%;
    background-color: #f7f5f5;
}

.box {
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 8%);
    width: 30%;
    margin: 0px 30px;
    position: relative;
    top: 0;
    transition: margin-top 0.3s ease-in;
}

.box:hover {
    margin-top: -30px;
    transition: margin-top 0.3s ease-in;
}


.box .number-text {
    background-image: url(../images/figura.png);
    background-repeat: no-repeat;
    background-size: 200px;
    background-position-x: center;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: -120px;
}

.box .number-text span {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    font-size: 35px;
    color: #FFF;
}

.box .line-text {
    text-align: center;
    padding-bottom: 30px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

/*confianza*/

#confianza {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
    background-color: #FFF;
}

.container {
    display: flex;
    flex-direction: row;
}

.container-text {
    display: flex;
    justify-content: center;
    align-items: start;
}

.container-text ul {
    list-style: none;
}

.container-text ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-primary);
    cursor: pointer;
    margin-bottom: 15px;
}

.container-text ul li p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5rem;
    padding-right: 50px;
    padding-left: 10px;
}

.container-text ul li::before {
    content: ">";
}


/*nosotros*/

#nosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%;
    background-color: #FFF;
}

.container-text{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    color: var(--color-secondary);
    line-height: 1.5rem;
    padding: 0px 50px;
}

.container-text p{
    padding: 20px 0px;
}

.container-text h4{
    font-size: 22px;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    color: var(--color-primary);
}

.box-seccion{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 0px;
}

.box-seccion .imagen{
    padding: 10px;
}

.box-seccion .imagen img{
    width: 80px;
}