
#precios {
    @extend %seccion-column;

    @media (max-width: 768px) {
        padding: 5px;
    }
  }
  
  .container-grid {
    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
    }

  }
  
  .box-precio {
    display: map-get($flex-row, mostrar);
    flex-direction: column;
    justify-content: start;
    text-align: center;
    background-color: #FFF;
    border-radius: 20px;
    box-shadow: 2px 2px 30px rgb(0 0 0 / 8%);
    position: relative;
    top: 0;
    padding: 20px;
    height: min-content;
    max-width: 350px;
    transition: margin-top 0.3s ease-in;
  
    &:hover, &.active {
      margin-top: -30px;
      box-shadow: 2px 2px 50px rgb(0 0 0 / 13%);
      transition: margin-top 0.3s ease-in;
    }
  
    h4 {
      font-family: $ff-poppins;
      color: $color-primary;
      font-size: 22px;
      font-weight: 800;
      text-align: center;
      padding: 20px;
    }
  
    p {
      font-family: $ff-inter;
      font-size: 17px;
      color: $color-secondary;
      text-align: left;
    }
  
    ul {
      text-align: left;
      list-style: none;
  
      li {
        &::before {
          content: '>';
          padding-right: 10px;
        }
  
        font-family: $ff-inter;
        font-size: 17px;
        color: $color-primary;
        font-weight: 700;
        line-height: 40px;
      }
    }
  
    a {
      font-family: $ff-inter;
      font-size: 17px;
      font-weight: 700;
      text-decoration: none;
      padding: 10.5px 35px;
      border-radius: 5px;
      background-color: $color-quarter;
      color: #FFF;
      border: none;
      cursor: pointer;
    }
  }