%seccion-fila {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px 7%;
  background-color: #f7f5f5;
}

%seccion-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 7%;
  background-color: #fff;
}

%sub-tittle {
  font-family: $ff-poppins;
  font-size: 58px;
  font-weight: 900;
  color: $color-primary;
  margin-bottom: 30px;
}

%slide-right {
  -webkit-animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-right 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%slide-bottom {
  -webkit-animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%slide-left {
  -webkit-animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-left 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

%slide-top {
  -webkit-animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

